
<header>
	<h1>Contactar</h1>
</header>
<div id="form">
  <div class="fish" id="fish"></div>
<div class="fish" id="fish2"></div>

<form id="waterform" method="post" onsubmit="this.reset()">

  <input name="name" type="text" class="feedback-input" placeholder="Nombre" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Texto"></textarea>
  <input (click)='send()' type="submit" value="Enviar"/>

</form>
</div>
